
body{
    margin: 0; 
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif; 
} 


/* navbar */

#header1{
  border: 0px solid rgb(212, 212, 212);
  padding: 0px 8px;
  background-color: white; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 95%; 
  margin: auto; 
  bottom: 95.6;
  padding: 23px 0px;
  padding-right: 5px;
}
#header1>a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: navy;
  font-weight: bold;
}
#header1>div:nth-child(1){
  width: 9%;
  border: 0px solid blue;
  margin-left: 5px;
}
#header1>div:nth-child(1)>img{
  width: 100%;
 
}
#header1>div{
  border: 0px solid blue;
  width: 30%;
  display: flex;
  justify-self: center;
}
#header1>div>input[type="text"]{
  
  width: 85%;
  border: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
  padding: 12px 0px;
}
#header1>div>input[type="text"]+button{
  background-color: black;
  color: white;
  border-radius: 0px 4px 4px 0px;
  padding: 12px 13px;
  
}
.input{
  visibility: hidden;
}
#header1>button{
  border: 1px solid green;
  padding: 10px 15px;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
#header1>button:hover{
  background-color: green;
  color: white;
}
#header2{
  border: 0px solid #ccc;
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 0px;
 /* position: sticky; */
 /* top: 95.16px; */
 /* visibility: hidden; */
  width: 100%;
  border-bottom: 0px;
  background-color: white;
}
#header2 a{
  font-size: 18px;
  color: black;
  text-decoration: none;
}
.dropDownCnt{
  display: none;
  position: absolute;
  /*top: 100%;*/
  top: 40px;
  
}
.dropDown:hover{
 border-bottom: 3px solid rgb(131, 185, 49);
}
.dropDown:hover .dropDownCnt{
  display: block;
 border: 0px solid green;
}
.dropDown{
  border: 0px solid red;
  height: 100%;
  
}
.hover1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 85%;
  gap: 50px;
  background-color: white;
  justify-content: space-evenly;
  padding: 10px 15px;
  
}
.hover1>div>a{
  display: inline-block;
  margin-bottom: 15px;
}
.hover2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  gap: 70px;
  background-color: white;
  justify-content: space-around;
  padding: 10px 15px;
}
.hover2>div>a{
  display: inline-block;
  margin-bottom: 15px;
}

#nav{
  display: none;
  width: 95%; 
  margin: auto; 
  background-color: white; 
  border: 1px solid #ccc; 
}


/* main */

#main{
  display: flex;  
  width: 95%; 
  text-align: center; 
  margin: auto;  
}  

#main>div:nth-child(1){
  flex: 7; 
  margin: auto; 
  text-align: left;
}

#main>div:nth-child(2){
  flex: 3; 
  margin: auto;
}

#data{
    width: 95%;  
    margin: 20px auto;  
    display: grid ;  
    gap: 18px; 
    grid-template-columns: repeat(3,1fr); 
} 

#data>div img{
    width: 100%; 
}

#data>div{
    padding: 10px; 
    border-radius: 10px;   
    text-align: center; 
    box-shadow: rgba(75, 67, 67, 0.2) 0px 7px 29px 0px; 
} 

#mylist>p{
  color: rgb(152, 152, 152);
}

#data>div p,h3{
    text-align: left; 
}

#data>div:hover{  
    box-shadow: rgba(25, 0, 255, 0.244) 0px 7px 29px 0px; 
} 

.advertise{
  display: flex;  
  width: 95%; 
  margin: auto;  
} 

.advertise img{
  width: 100%;
}

/* CSS */ 
/* ============= */  

#total{
    display: flex; 
    justify-content: space-between; 
    position: fixed; 
    bottom: 0;  
    right: 0;  
    padding: 8px 0;
    border: 1px solid rgb(0, 0, 0);
    left: 0;
    align-items: center;
    background-color: white; 
}

#total>h2{
  font-size: large;
  border: 2px solid rgb(0, 0, 0); 
  padding: 10px 20px;  
  border-radius: 10px; 
}
 
#total>*{
    margin: 0 80px;  
}

/* =========== */  
/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: bold;
  font-size: large;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none; 
  width: 200px;
  -webkit-user-select: none;
  touch-action: manipulation;  
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

/* ====================== */
/* ---------------------- */
/* CSS */
.button-33 {
  background-color: rgb(0, 198, 0);
  border-radius: 4px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: all 250ms;
  border: 0;
  font-size: 16px; 
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


